<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class = "pain">
      <%= event.pain.name %>
    </div>
  <% end %>
<% end %>
<div class = "new-button">
<%= link_to '経過観察', new_event_path %>
</div>