<%= link_to '経過観察', new_event_path %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.pain.name %>
    </div>
  <% end %>
<% end %>